<div class="backdrop"></div>
<header class="main-header main-header__admin">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="/admin/products">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/admin/add-product">Add Product</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="" href="/admin/products">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="" href="/admin/add-product">Add Product</a>
        </li>
    </ul>
</nav>