<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <p>This is the orders page for customers:</p>
</main>
<%- include('../includes/end.ejs') %>